*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile.cache
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
/url/cache
backup/*
transient/*
.mc-lists.el
server/
.cache/